.container {
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 1%;
}
.text-center {
    text-align: center;
}
table {
    width: 100%;
}
.btn-table-operation {
  margin: 16px 8px;
}
.spacer {
    flex: 1;
}
.table-operations {
    display: flex;
    justify-content: space-between;
}
.pt-2 {
    padding-top: 2%;
}
#data-table-container {
    margin-bottom: 2.5%;
}
/* .table-wrapper {
    height: 500px;
    overflow: auto;
} */
.mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
}